<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<h1>LOGIN to the Hoang Ngoc Trinh Coffee system</h1>

<form method="post" action="/doLogin">
    <p style="text-align: center; color: red">
        <label for="username">Username:</label>
        <input type="text" name="user" id="username">
        <br>
    </p>


    <p style="text-align: center; color: red">
        <label for="password">Password:</label>
        <input type="password" name="pass" id="password">
        <br>
        <input type="submit" value="Đăng Nhập Đi Con">
    </p>


</form>

<footer style="text-align: center">
   &#169; 2025 Phạm Võ Khải Anh
</footer>
</body>
</html>