



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h6 th:text="'Curent Role: ' + ${role}" style="color: red">Hello admin</h6>
<h1 style="color: red">The list of Đào Minh Khải Coffee Products</h1>
<br>
<!-- nút new nằm ngoài table, ẩn hiện nếu là admin-->
<a th:if="${role == 1}" th:href="@{/products/add}">New product</a>

<!--<p th:if="${role == 1}">-->
<!--    <a th:href="@{/products/add}">New product</a>-->
<!--</p>-->

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th th:if="${role == 1}">Action</th>
    </tr>
    </thead>
    <!-- tựa đề table, chữ in đậm -->
         <tbody>
        <!--Phần thân table, chứa data, chứa các dòng, giống như <body> -->
         <tr th:each="p : ${products}">
             <td th:text="${p.id}"></td>
             <td th:text="${p.name}"></td>
             <td th:text="${p.price}"></td>
<!--             <td>Sửa | Xóa</td>-->
             <td th:if="${role == 1}">
<!--                 /lấy là trị là dấu $, @ là url-->
                 <a th:href="@{'/products/edit/' + ${p.id}}">Sửa</a>
                 <a th:href="@{'/products/delete/' + ${p.id}}">Xóa</a>
             </td>
         </tr>
        </tbody>

</table>
</body>
</html>