
Ghi chí cho get/ post với web app mà viết theo server - side rendering(trang web được tạo ra trên server
- khóc cơ chế của React


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h6 th:text="${sentUser}" style="color: red">Hello admin</h6>
<h1 style="color: red">The list of Hoàng Ngọc Trinh Coffee Products</h1>
<br>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <!-- tựa đề table, chữ in đậm -->
         <tbody>
        <!--Phần thân table, chứa data, chứa các dòng, giống như <body> -->
         <tr th:each="p : ${products}">
             <td th:text="${p.id}"></td>
             <td th:text="${p.name}"></td>
             <td th:text="${p.price}"></td>
<!--             <td>Sửa | Xóa</td>-->
             <td>
<!--                 /lấy là trị là dấu $, @ là url-->
                 <a th:href="@{'/products/edit/' + ${p.id}}">Sửa</a>
                 <a th:href="@{'/products/delete/' + ${p.id}}">Xóa</a>
             </td>
         </tr>
        </tbody>

</table>
</body>
</html>